<div id="tryInAction" class="section-ui-anim-bg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 120%; height: 100%; resize: none;margin:auto;background:rgba(255, 255, 255, 0);display:block;z-index:1;position:relative" width="2402" height="1169" preserveAspectRatio="none" viewBox="0 0 2402 1169">
        <g transform="translate(1201,584.5) scale(1,1) translate(-1201,-584.5)"><defs>
                <linearGradient id="ldbk-photon-205zwjvebfx-lg" x1="1392.1799999999998" x2="2402" y1="0" y2="0" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#2B2F3DFF" offset="0"></stop>
                    <stop stop-color="#1D212AFF" offset="1"></stop>
                </linearGradient>
                <mask id="ldbk-photon-205zwjvebfx-mask">
                    <g><path d="M2702 -0.5 L1413.2572758314282 -0.5 A15 15 0 0 1 1413.2572758314282 30.5 L2702 30.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="87.21069052291966;0;87.21069052291966" begin="0s"></animateTransform>
                        </path><path d="M2445.7504166746116 -0.5 L2459.5008333492233 -0.5 A15 15 0 0 1 2459.5008333492233 30.5 L2445.7504166746116 30.5 A15 15 0 0 1 2445.7504166746116 -0.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-2372.109969660076" begin="0s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="0s"></animate>
                        </path><path d="M2702 29.5 L1361.7100279882213 29.5 A15 15 0 0 0 1361.7100279882213 60.5 L2702 60.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-57.402204629410306;0;-57.402204629410306" begin="-3.8461538461538463s"></animateTransform>
                        </path><path d="M1448.6515916407986 29.5 L1469.7787177092744 29.5 A15 15 0 0 1 1469.7787177092744 60.5 L1448.6515916407986 60.5 A15 15 0 0 1 1448.6515916407986 29.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-3.8461538461538463s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-3.8461538461538463s"></animate>
                        </path><path d="M2702 59.5 L1397.1393870644974 59.5 A15 15 0 0 1 1397.1393870644974 90.5 L2702 90.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="94.26167161234173;0;94.26167161234173" begin="-7.6923076923076925s"></animateTransform>
                        </path><path d="M2445.44104444838 59.5 L2458.8820888967603 59.5 A15 15 0 0 1 2458.8820888967603 90.5 L2445.44104444838 90.5 A15 15 0 0 1 2445.44104444838 59.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-2447.421469878926" begin="-7.6923076923076925s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-7.6923076923076925s"></animate>
                        </path><path d="M2702 89.5 L1338.8537905750652 89.5 A15 15 0 0 0 1338.8537905750652 120.5 L2702 120.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-100.3889877375268;0;-100.3889877375268" begin="-11.538461538461538s"></animateTransform>
                        </path><path d="M1485.250561263529 89.5 L1518.9433411020725 89.5 A15 15 0 0 1 1518.9433411020725 120.5 L1485.250561263529 120.5 A15 15 0 0 1 1485.250561263529 89.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-11.538461538461538s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-11.538461538461538s"></animate>
                        </path><path d="M2702 119.5 L1403.7233008598196 119.5 A15 15 0 0 1 1403.7233008598196 150.5 L2702 150.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="57.45744741320194;0;57.45744741320194" begin="-15.384615384615385s"></animateTransform>
                        </path><path d="M2467.1245836034414 119.5 L2502.2491672068827 119.5 A15 15 0 0 1 2502.2491672068827 150.5 L2467.1245836034414 150.5 A15 15 0 0 1 2467.1245836034414 119.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-2161.5131594457416" begin="-15.384615384615385s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-15.384615384615385s"></animate>
                        </path><path d="M2702 149.5 L1370.966057416352 149.5 A15 15 0 0 0 1370.966057416352 180.5 L2702 180.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-93.41213705379312;0;-93.41213705379312" begin="-19.23076923076923s"></animateTransform>
                        </path><path d="M1426.1568845485003 149.5 L1439.9800854706496 149.5 A15 15 0 0 1 1439.9800854706496 180.5 L1426.1568845485003 180.5 A15 15 0 0 1 1426.1568845485003 149.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-19.23076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-19.23076923076923s"></animate>
                        </path><path d="M2702 179.5 L1396.4741468686939 179.5 A15 15 0 0 1 1396.4741468686939 210.5 L2702 210.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="87.52663326410878;0;87.52663326410878" begin="-23.076923076923077s"></animateTransform>
                        </path><path d="M2457.917855007569 179.5 L2483.835710015138 179.5 A15 15 0 0 1 2483.835710015138 210.5 L2457.917855007569 210.5 A15 15 0 0 1 2457.917855007569 179.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-2455.2336603775" begin="-23.076923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-23.076923076923077s"></animate>
                        </path><path d="M2702 209.5 L1314.63418072557 209.5 A15 15 0 0 0 1314.63418072557 240.5 L2702 240.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-60.38208789835646;0;-60.38208789835646" begin="-26.923076923076923s"></animateTransform>
                        </path><path d="M1462.9550099231167 209.5 L1494.6167110627905 209.5 A15 15 0 0 1 1494.6167110627905 240.5 L1462.9550099231167 240.5 A15 15 0 0 1 1462.9550099231167 209.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-26.923076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-26.923076923076923s"></animate>
                        </path><path d="M2702 239.5 L1371.479544982802 239.5 A15 15 0 0 1 1371.479544982802 270.5 L2702 270.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="75.88342256711228;0;75.88342256711228" begin="-30.76923076923077s"></animateTransform>
                        </path><path d="M2444.1714242050534 239.5 L2456.342848410107 239.5 A15 15 0 0 1 2456.342848410107 270.5 L2444.1714242050534 270.5 A15 15 0 0 1 2444.1714242050534 239.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-1878.7158613076654" begin="-30.76923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-30.76923076923077s"></animate>
                        </path><path d="M2702 269.5 L1350.7521413006048 269.5 A15 15 0 0 0 1350.7521413006048 300.5 L2702 300.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-79.99853297521831;0;-79.99853297521831" begin="-34.61538461538461s"></animateTransform>
                        </path><path d="M1445.0926484468155 269.5 L1464.1883053802085 269.5 A15 15 0 0 1 1464.1883053802085 300.5 L1445.0926484468155 300.5 A15 15 0 0 1 1445.0926484468155 269.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-34.61538461538461s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-34.61538461538461s"></animate>
                        </path><path d="M2702 299.5 L1362.4303840104042 299.5 A15 15 0 0 1 1362.4303840104042 330.5 L2702 330.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="100.95434288912176;0;100.95434288912176" begin="-38.46153846153846s"></animateTransform>
                        </path><path d="M2458.5517317037675 299.5 L2485.103463407535 299.5 A15 15 0 0 1 2485.103463407535 330.5 L2458.5517317037675 330.5 A15 15 0 0 1 2458.5517317037675 299.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-2238.1191884534255" begin="-38.46153846153846s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-38.46153846153846s"></animate>
                        </path><path d="M2702 329.5 L1335.035455386588 329.5 A15 15 0 0 0 1335.035455386588 360.5 L2702 360.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-58.61010560902739;0;-58.61010560902739" begin="-42.30769230769231s"></animateTransform>
                        </path><path d="M1456.7710961286994 329.5 L1491.9811376960797 329.5 A15 15 0 0 1 1491.9811376960797 360.5 L1456.7710961286994 360.5 A15 15 0 0 1 1456.7710961286994 329.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-42.30769230769231s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-42.30769230769231s"></animate>
                        </path><path d="M2702 359.5 L1372.3867342133085 359.5 A15 15 0 0 1 1372.3867342133085 390.5 L2702 390.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="75.98537781514065;0;75.98537781514065" begin="-46.15384615384615s"></animateTransform>
                        </path><path d="M2467.1043193585474 359.5 L2502.208638717095 359.5 A15 15 0 0 1 2502.208638717095 390.5 L2467.1043193585474 390.5 A15 15 0 0 1 2467.1043193585474 359.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1841.9735179431943" begin="-46.15384615384615s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-46.15384615384615s"></animate>
                        </path><path d="M2702 389.5 L1348.4974507087675 389.5 A15 15 0 0 0 1348.4974507087675 420.5 L2702 420.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-93.25003441496075;0;-93.25003441496075" begin="-50s"></animateTransform>
                        </path><path d="M1423.4915274630027 389.5 L1455.0918897264633 389.5 A15 15 0 0 1 1455.0918897264633 420.5 L1423.4915274630027 420.5 A15 15 0 0 1 1423.4915274630027 389.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-50s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-50s"></animate>
                        </path><path d="M2702 419.5 L1381.8654291523767 419.5 A15 15 0 0 1 1381.8654291523767 450.5 L2702 450.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="87.8050500550255;0;87.8050500550255" begin="-53.84615384615385s"></animateTransform>
                        </path><path d="M2464.310608574924 419.5 L2496.6212171498482 419.5 A15 15 0 0 1 2496.6212171498482 450.5 L2464.310608574924 450.5 A15 15 0 0 1 2464.310608574924 419.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-2013.751548915695" begin="-53.84615384615385s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-53.84615384615385s"></animate>
                        </path><path d="M2702 449.5 L1340.4946165163963 449.5 A15 15 0 0 0 1340.4946165163963 480.5 L2702 480.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-56.26188782185507;0;-56.26188782185507" begin="-57.6923076923077s"></animateTransform>
                        </path><path d="M1471.1422612717984 449.5 L1506.4582899568532 449.5 A15 15 0 0 1 1506.4582899568532 480.5 L1471.1422612717984 480.5 A15 15 0 0 1 1471.1422612717984 449.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-57.6923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-57.6923076923077s"></animate>
                        </path><path d="M2702 479.5 L1394.6755663156814 479.5 A15 15 0 0 1 1394.6755663156814 510.5 L2702 510.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="58.03800247133391;0;58.03800247133391" begin="-61.53846153846154s"></animateTransform>
                        </path><path d="M2447.1561638705607 479.5 L2462.3123277411214 479.5 A15 15 0 0 1 2462.3123277411214 510.5 L2447.1561638705607 510.5 A15 15 0 0 1 2447.1561638705607 479.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1954.1409181906708" begin="-61.53846153846154s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-61.53846153846154s"></animate>
                        </path><path d="M2702 509.5 L1355.8272261286636 509.5 A15 15 0 0 0 1355.8272261286636 540.5 L2702 540.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-58.52144342406244;0;-58.52144342406244" begin="-65.38461538461539s"></animateTransform>
                        </path><path d="M1449.1161181695543 509.5 L1487.4732506865762 509.5 A15 15 0 0 1 1487.4732506865762 540.5 L1449.1161181695543 540.5 A15 15 0 0 1 1449.1161181695543 509.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-65.38461538461539s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-65.38461538461539s"></animate>
                        </path><path d="M2702 539.5 L1395.116875864639 539.5 A15 15 0 0 1 1395.116875864639 570.5 L2702 570.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="86.33085202977003;0;86.33085202977003" begin="-69.23076923076923s"></animateTransform>
                        </path><path d="M2461.360915003513 539.5 L2490.7218300070263 539.5 A15 15 0 0 1 2490.7218300070263 570.5 L2461.360915003513 570.5 A15 15 0 0 1 2461.360915003513 539.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-2386.409498464315" begin="-69.23076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-69.23076923076923s"></animate>
                        </path><path d="M2702 569.5 L1367.4135562904276 569.5 A15 15 0 0 0 1367.4135562904276 600.5 L2702 600.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-71.82469473851448;0;-71.82469473851448" begin="-73.07692307692307s"></animateTransform>
                        </path><path d="M1478.0143078176845 569.5 L1499.5314536841731 569.5 A15 15 0 0 1 1499.5314536841731 600.5 L1478.0143078176845 600.5 A15 15 0 0 1 1478.0143078176845 569.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-73.07692307692307s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-73.07692307692307s"></animate>
                        </path><path d="M2702 599.5 L1393.5868909455648 599.5 A15 15 0 0 1 1393.5868909455648 630.5 L2702 630.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="87.20752058285561;0;87.20752058285561" begin="-76.92307692307692s"></animateTransform>
                        </path><path d="M2442.656140539335 599.5 L2453.31228107867 599.5 A15 15 0 0 1 2453.31228107867 630.5 L2442.656140539335 630.5 A15 15 0 0 1 2442.656140539335 599.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-2282.147302804237" begin="-76.92307692307692s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-76.92307692307692s"></animate>
                        </path><path d="M2702 629.5 L1376.6032159557285 629.5 A15 15 0 0 0 1376.6032159557285 660.5 L2702 660.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-60.710263582071306;0;-60.710263582071306" begin="-80.76923076923077s"></animateTransform>
                        </path><path d="M1500.5489513093676 629.5 L1513.721801558676 629.5 A15 15 0 0 1 1513.721801558676 660.5 L1500.5489513093676 660.5 A15 15 0 0 1 1500.5489513093676 629.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-80.76923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-80.76923076923077s"></animate>
                        </path><path d="M2702 659.5 L1418.675622994343 659.5 A15 15 0 0 1 1418.675622994343 690.5 L2702 690.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="76.6679284706781;0;76.6679284706781" begin="-84.61538461538461s"></animateTransform>
                        </path><path d="M2447.8102721794244 659.5 L2463.6205443588487 659.5 A15 15 0 0 1 2463.6205443588487 690.5 L2447.8102721794244 690.5 A15 15 0 0 1 2447.8102721794244 659.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1555.1656195618584" begin="-84.61538461538461s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-84.61538461538461s"></animate>
                        </path><path d="M2702 689.5 L1384.7753818958854 689.5 A15 15 0 0 0 1384.7753818958854 720.5 L2702 720.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-56.840576394616214;0;-56.840576394616214" begin="-88.46153846153845s"></animateTransform>
                        </path><path d="M1473.6180090361363 689.5 L1499.0542084330068 689.5 A15 15 0 0 1 1499.0542084330068 720.5 L1473.6180090361363 720.5 A15 15 0 0 1 1473.6180090361363 689.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-88.46153846153845s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-88.46153846153845s"></animate>
                        </path><path d="M2702 719.5 L1423.3104993604438 719.5 A15 15 0 0 1 1423.3104993604438 750.5 L2702 750.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="95.17261336828233;0;95.17261336828233" begin="-92.3076923076923s"></animateTransform>
                        </path><path d="M2469.219275933206 719.5 L2506.438551866412 719.5 A15 15 0 0 1 2506.438551866412 750.5 L2469.219275933206 750.5 A15 15 0 0 1 2469.219275933206 719.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1861.1108181942739" begin="-92.3076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-92.3076923076923s"></animate>
                        </path><path d="M2702 749.5 L1390.065975654074 749.5 A15 15 0 0 0 1390.065975654074 780.5 L2702 780.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-79.15520513444378;0;-79.15520513444378" begin="-96.15384615384616s"></animateTransform>
                        </path><path d="M1484.726208103319 749.5 L1497.1239280177253 749.5 A15 15 0 0 1 1497.1239280177253 780.5 L1484.726208103319 780.5 A15 15 0 0 1 1484.726208103319 749.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-96.15384615384616s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-96.15384615384616s"></animate>
                        </path><path d="M2702 779.5 L1425.4760462379895 779.5 A15 15 0 0 1 1425.4760462379895 810.5 L2702 810.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="103.9656855051982;0;103.9656855051982" begin="-100s"></animateTransform>
                        </path><path d="M2456.5303008324813 779.5 L2481.0606016649626 779.5 A15 15 0 0 1 2481.0606016649626 810.5 L2456.5303008324813 810.5 A15 15 0 0 1 2456.5303008324813 779.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-2001.7013743310872" begin="-100s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-100s"></animate>
                        </path><path d="M2702 809.5 L1409.7201875692056 809.5 A15 15 0 0 0 1409.7201875692056 840.5 L2702 840.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-83.13674713698225;0;-83.13674713698225" begin="-103.84615384615384s"></animateTransform>
                        </path><path d="M1504.441388657388 809.5 L1521.4544456918088 809.5 A15 15 0 0 1 1521.4544456918088 840.5 L1504.441388657388 840.5 A15 15 0 0 1 1504.441388657388 809.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-103.84615384615384s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-103.84615384615384s"></animate>
                        </path><path d="M2702 839.5 L1454.6056587053968 839.5 A15 15 0 0 1 1454.6056587053968 870.5 L2702 870.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="99.02141958985705;0;99.02141958985705" begin="-107.6923076923077s"></animateTransform>
                        </path><path d="M2464.1332306808677 839.5 L2496.2664613617353 839.5 A15 15 0 0 1 2496.2664613617353 870.5 L2464.1332306808677 870.5 A15 15 0 0 1 2464.1332306808677 839.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-1777.784499941716" begin="-107.6923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-107.6923076923077s"></animate>
                        </path><path d="M2702 869.5 L1421.2941064612978 869.5 A15 15 0 0 0 1421.2941064612978 900.5 L2702 900.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-94.56285320766312;0;-94.56285320766312" begin="-111.53846153846155s"></animateTransform>
                        </path><path d="M1473.2879715585555 869.5 L1512.4269228675823 869.5 A15 15 0 0 1 1512.4269228675823 900.5 L1473.2879715585555 900.5 A15 15 0 0 1 1473.2879715585555 869.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-111.53846153846155s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-111.53846153846155s"></animate>
                        </path><path d="M2702 899.5 L1447.7523536120545 899.5 A15 15 0 0 1 1447.7523536120545 930.5 L2702 930.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="71.62959925127912;0;71.62959925127912" begin="-115.3846153846154s"></animateTransform>
                        </path><path d="M2442.2546430967777 899.5 L2452.5092861935555 899.5 A15 15 0 0 1 2452.5092861935555 930.5 L2442.2546430967777 930.5 A15 15 0 0 1 2442.2546430967777 899.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-1901.2089460032719" begin="-115.3846153846154s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-115.3846153846154s"></animate>
                        </path><path d="M2702 929.5 L1412.9596379808245 929.5 A15 15 0 0 0 1412.9596379808245 960.5 L2702 960.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-80.26338866903994;0;-80.26338866903994" begin="-119.23076923076923s"></animateTransform>
                        </path><path d="M1477.7079010350863 929.5 L1510.688402287304 929.5 A15 15 0 0 1 1510.688402287304 960.5 L1477.7079010350863 960.5 A15 15 0 0 1 1477.7079010350863 929.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-119.23076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-119.23076923076923s"></animate>
                        </path><path d="M2702 959.5 L1433.7998334239687 959.5 A15 15 0 0 1 1433.7998334239687 990.5 L2702 990.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="81.64207176982872;0;81.64207176982872" begin="-123.07692307692308s"></animateTransform>
                        </path><path d="M2464.838233075297 959.5 L2497.676466150594 959.5 A15 15 0 0 1 2497.676466150594 990.5 L2464.838233075297 990.5 A15 15 0 0 1 2464.838233075297 959.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;1" values="0;-1714.28643124172" begin="-123.07692307692308s"></animateTransform>
                            <animate attributeName="opacity" dur="50s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-123.07692307692308s"></animate>
                        </path><path d="M2702 989.5 L1408.3530781197062 989.5 A15 15 0 0 0 1408.3530781197062 1020.5 L2702 1020.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-81.78630837572395;0;-81.78630837572395" begin="-126.92307692307692s"></animateTransform>
                        </path><path d="M1462.5163953865701 989.5 L1478.1702044363212 989.5 A15 15 0 0 1 1478.1702044363212 1020.5 L1462.5163953865701 1020.5 A15 15 0 0 1 1462.5163953865701 989.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-126.92307692307692s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-126.92307692307692s"></animate>
                        </path><path d="M2702 1019.5 L1431.7669570493024 1019.5 A15 15 0 0 1 1431.7669570493024 1050.5 L2702 1050.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="69.79173686884306;0;69.79173686884306" begin="-130.76923076923077s"></animateTransform>
                        </path><path d="M2466.888401568351 1019.5 L2501.7768031367023 1019.5 A15 15 0 0 1 2501.7768031367023 1050.5 L2466.888401568351 1050.5 A15 15 0 0 1 2466.888401568351 1019.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;1" values="0;-1676.791379430127" begin="-130.76923076923077s"></animateTransform>
                            <animate attributeName="opacity" dur="25s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-130.76923076923077s"></animate>
                        </path><path d="M2702 1049.5 L1407.5410956020608 1049.5 A15 15 0 0 0 1407.5410956020608 1080.5 L2702 1080.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="50s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-105.37173577063383;0;-105.37173577063383" begin="-134.6153846153846s"></animateTransform>
                        </path><path d="M1489.8156169181752 1049.5 L1516.4862381802777 1049.5 A15 15 0 0 1 1516.4862381802777 1080.5 L1489.8156169181752 1080.5 A15 15 0 0 1 1489.8156169181752 1049.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-134.6153846153846s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-134.6153846153846s"></animate>
                        </path><path d="M2702 1079.5 L1410.0994071930093 1079.5 A15 15 0 0 1 1410.0994071930093 1110.5 L2702 1110.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="92.78301419166232;0;92.78301419166232" begin="-138.46153846153845s"></animateTransform>
                        </path><path d="M2442.7537002968475 1079.5 L2453.507400593695 1079.5 A15 15 0 0 1 2453.507400593695 1110.5 L2442.7537002968475 1110.5 A15 15 0 0 1 2442.7537002968475 1079.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1602.0780572417325" begin="-138.46153846153845s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-138.46153846153845s"></animate>
                        </path><path d="M2702 1109.5 L1367.7199180923387 1109.5 A15 15 0 0 0 1367.7199180923387 1140.5 L2702 1140.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="-71.57875098874322;0;-71.57875098874322" begin="-142.3076923076923s"></animateTransform>
                        </path><path d="M1505.8836796541236 1109.5 L1520.0258676095712 1109.5 A15 15 0 0 1 1520.0258676095712 1140.5 L1505.8836796541236 1140.5 A15 15 0 0 1 1505.8836796541236 1109.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;0" begin="-142.3076923076923s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-142.3076923076923s"></animate>
                        </path><path d="M2702 1139.5 L1413.4987266821518 1139.5 A15 15 0 0 1 1413.4987266821518 1170.5 L2702 1170.5" fill="#fff">
                            <animateTransform attributeName="transform" type="translate" dur="25s" repeatCount="indefinite" keyTimes="0;0.5;1" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" values="90.08190305569134;0;90.08190305569134" begin="-146.15384615384613s"></animateTransform>
                        </path><path d="M2451.433117349243 1139.5 L2470.8662346984856 1139.5 A15 15 0 0 1 2470.8662346984856 1170.5 L2451.433117349243 1170.5 A15 15 0 0 1 2451.433117349243 1139.5" fill="#000">
                            <animateTransform attributeName="transform" type="translate" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;1" values="0;-1817.471280497764" begin="-146.15384615384613s"></animateTransform>
                            <animate attributeName="opacity" dur="16.666666666666668s" repeatCount="indefinite" keyTimes="0;0.3;1" values="1;1;0" begin="-146.15384615384613s"></animate>
                        </path>    </g>
                </mask>
            </defs>
            <rect x="0" y="0" width="2402" height="1169" fill="url(#ldbk-photon-205zwjvebfx-lg)" mask="url(#ldbk-photon-205zwjvebfx-mask)"></rect></g>
    </svg>
</div>

<section class="section section-ui">
    <div class="intro-top">
        <div class="ui-discord animate__animated animate__fadeIn">
            <div class="ui-discord-left">
                <div class="ui-buttons">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="ui-logo">
                    <a class="ui-nav-element-active" href="">
                        <img src="public/media/logo.png" alt="webFetcher">
                    </a>
                </div>
                <nav>
                    <a class="ui-nav-element" href="">
                        <img src="https://webfetcher.krvvko.me/media/logo.png" alt="webFetcher">
                    </a>
                    <a class="ui-nav-element" href="">
                        <img style="height: 80%; width: 80%" src="https://mini.krvvko.me/img/favicon.ico" alt="webFetcher">
                    </a>
                </nav>
            </div>
            <div class="ui-discord-right">
                <div class="ui-discord-right-top">
                    Discord member fetcher
                </div>
                <div class="ui-discord-right-content">
                    <div class="ui-discord-tags">
                        <div class="ui-tags-top">
                            <span>Available data:</span>
                        </div>
                        <div class="ui-tags-list">
                            <span>Stable API</span>
                            <ul>
                                <li>Server list</li>
                                <li>Server username</li>
                                <li>PFP</li>
                                <li>Creation date</li>
                                <li>Username + #</li>
                                <li>Is user bot</li>
                            </ul>
                        </div>
                        <div class="ui-tags-list">
                            <span>Unstable API</span>
                            <ul>
                                <li>About Me</li>
                                <li>Nitro</li>
                                <li>Badges</li>
                                <li>Banner</li>
                                <li>Theme colors</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ui-discord-inside-element-wrapper">
                        <div class="ui-discord-custom-border" style="--color1: <%= accentColor[0] %>; --color2: <%= accentColor[1] %>;">
                            <div class="ui-discord-inside-element">
                                <div class="udie-top" style="--bg: <%= bannerUrl ? "url('" + bannerUrl + "')" : "linear-gradient("+accentColor+")"%>; <%= bannerUrl ? "" : "min-height: 60px; max-height: 60px"%>">
                                    <img class="udie-pfp" src="<%= avatarUrl %>" alt="Avatar" style="max-width: 200px; <%= bannerUrl ? "" : "margin-bottom: 12px;"%>"><br>
                                </div>
                                    <% if (badges && badges.length > 0) { %>
                                    <div class="udie-badges">
                                    <% badges.forEach(function(badge) { %>
                                            <img class="udie-badge" src="<%= badge.iconURL() %>" alt="<%= badge.description %>">
                                        <% }) %>
                                    </div>
                                    <% } else { %>
                                        <div style="height: 30px;"></div>
                                    <% } %>
                                <div class="udie-info">
                                    <h1 class="udie-username"><%= username %></h1>
                                    <div class="udie-block">
                                        <span>ABOUT ME</span>
                                        <span id="aboutMe">...</span>
                                    </div>
                                    <div class="udie-block">
                                        <span>DISCORD MEMBER SINCE</span>
                                        <span><%= creationDate %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-msgs">
                <div class="ui-msg">
                    <img src="https://cdn.discordapp.com/avatars/695768168450359346/c9193ddee177babfbd84a1e192aab749.png?size=2048" class="ui-msg-left">
                    <div class="ui-msg-right">
                        <div class="ui-msg-top">
                            <span>My catgirl</span>
                            <span>Today at 9:24 AM</span>
                        </div>
                        <span class="ui-msg-bottom">Meow meow meow meow</span>
                    </div>
                </div>
                <div class="ui-msg">
                    <img src="https://cdn.discordapp.com/avatars/247032967220822037/1e99e1611b29fa114ff7d924880c150a.png?size=2048" class="ui-msg-left">
                    <div class="ui-msg-right">
                        <div class="ui-msg-top">
                            <span>krvvko</span>
                            <span>Today at 8:31 AM</span>
                        </div>
                        <span class="ui-msg-bottom">Used to fetch user data, wanna get someone's public servers?</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-text">
            <h1 class="section-headline animate__animated animate__fadeInUp">Discord Member Fetcher</h1>
            <span class="section-description animate__animated animate__fadeIn">To view the public data of a discord user - enter his id below.
                Please note that self bots are not supported by discord, so some user information may not be available and will not be displayed <br>
                <a target="_blank" href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-">How to find the user ID</a></span>
            <form class="uid-input-container animate__animated animate__fadeInUp animate__delay-1s" action="/user" method="GET">
                <input minlength="18" placeholder="Enter user id" type="number" required id="uid" name="uid" class="user-id-input">
                <button class="submit-btn" type="submit">Search user</button>
            </form>
        </div>

    </div>
    <div class="intro-bottom">
        <svg preserveAspectRatio="none" width="304" height="124" viewBox="0 0 304 124" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_11)">
                <path d="M78 42.5746C19 32.5746 18 37.5746 -69 71.5746V134.575L78 140.575L386 149.575V50.5746C350 47.908 266.8 45.5746 222 57.5746C166 72.5746 137 52.5746 78 42.5746Z" fill="currentColor" fill-opacity="0.6"/>
                <path d="M137 38.5746C78 28.5746 77 33.5746 -10 67.5746V130.575L137 136.575L445 145.575V46.5746C409 43.908 325.8 41.5746 281 53.5746C225 68.5746 196 48.5746 137 38.5746Z" fill="currentColor" fill-opacity="0.6"/>
                <path d="M1 38.5746C-58 28.5746 -59 33.5746 -146 67.5746V130.575L1 136.575L309 145.575V46.5746C273 43.908 189.8 41.5746 145 53.5746C89 68.5746 60 48.5746 1 38.5746Z" fill="currentColor" fill-opacity="0.6"/>
                <path d="M50.284 58.8698C-9.52427 56.8786 -9.84418 61.9676 -91.494 107.336L-83.0388 169.766L63.4366 155.983L369.858 123.565L356.571 25.4609C320.539 27.6499 237.779 36.5039 194.994 54.4079C141.514 76.7879 110.092 60.8609 50.284 58.8698Z" fill="currentColor" fill-opacity="0.6"/>
            </g>
            <defs>
                <clipPath id="clip0_1_11">
                    <rect width="304" height="124" fill="white"/>
                </clipPath>
            </defs>
        </svg>

    </div>
</section>
<section class="section-explanation">
    <div class="home-section-container">
        <div class="section-text">
            <h1 class="section-headline">Secret Account</h1>
            <span class="section-description">
                Using a secret account (its username is on your right) and js library
                <a target="_blank" href="">discord.js-selfbot-v13</a>
                the script makes a request to the discord api, and returns the necessary information about the guilds and the user.
                Are discord selfbots against their TOS? uhhhhhh... maybe..... so, I wouldn't recommend to use it
            </span>
            <a href="#tryInAction" class="submit-btn">Try it yourself</a>
        </div>
        <div style="height: unset; min-width: 294px; max-width: 294px" class="section-ui animate__animated animate__fadeInUp">
            <div class="shadow ui-discord-inside-element" style="border: 2px solid #1e2124">
                <div class="udie-top" style="min-height: 80px; max-height: 80px; background: #707f8e;">
                    <img class="udie-pfp" src="https://archive.org/download/discordprofilepictures//discordgrey_thumb.jpg" alt="Avatar" style="max-width: 200px; <%= bannerUrl ? "" : "margin-bottom: 12px;"%>"><br>
                </div>
                <div style="height: 30px"></div>
                <div class="udie-info">
                    <h1 class="udie-username">acc_identifier#0991</h1>
                    <div class="udie-block">
                        <span>DISCORD MEMBER SINCE</span>
                        <span>Jan 19, 2023</span>
                    </div>
                    <div class="udie-block">
                        <span>PLAYING A GAME</span>
                        <div class="discord-ui-game">
                            <div>
                                <img src="https://media.discordapp.net/attachments/1086422556258615406/1105135324251828304/b9f696010b6d410e936cd59f75e23507.png" alt="">
                                <div>
                                    <span>Discord Member Fetcher</span>
                                    <span>Fetching user data</span>
                                    <span>Server is up for:</span>
                                    <span id="home-discord-ui-elapsed"></span>
                                </div>
                            </div>
                            <div>
                                <button>Official Website</button>
                                <button>GitHub</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section-container">
        <img class="section-img shadow" src="public/media/servers.png" alt="">
        <div class="section-text">
            <h1 class="section-headline">Server search</h1>
            <span class="section-description">
                Unfortunately, after requesting the discord API - it does not return a list of guilds the user
                is a member of, but it does return a list of shared servers with the client. So the client account
                is a member of a huge amount of guilds, which makes this search reasonable and possible
            </span>
        </div>
    </div>
    <div class="shadow section-footer">
        <h1 class="section-headline2">Stop reading, just fetch somebody :)</h1>
        <a href="#tryInAction" class="submit-btn">Try it yourself</a>
    </div>
</section>




